<nav id="navbarr" class="navbarr"><!--Computadora-->
   
    <div class="divLogoo">
     
    </div>

    <ul class='ulMenu'>
      <li><a class="nav-link" href="/peliculas">Peliculas</a></li>
      <li><a class="nav-link" href="/cursos">Cursos</a></li>
      <li><a class="nav-link" href="/libros">Libros</a></li>
      <li><a class="nav-link" href="/usuarios">Usuarios</a></li>
      <li><a class="nav-link" href="/cerrarAdmin">Cerrar</a></li>
    </ul>

  </nav>

  <nav id="navbarrr"><!-- telefono-->

    <div id='TituloI'>
      <picture> <img src="/template/icon/logoGlobal-Photoroom.png" class='logoo' alt=""></picture>
    </div>

        <ul class='menu'>
        <li>
        <picture class='menuuu'><img width='40vw' src="/icon/menu.png"/></picture>

        <ul class="subMenu">
         <li><a class="nav-link" href="/main">Peliculas</a></li>
      <li><a class="nav-link" href="/cursosClient">Cursos</a></li>
      <li><a class="nav-link" href="/librosClient">Libros</a></li>
      <li><a class="nav-link" href="/logout">Cerrar</a></li>
        </ul>

        </li>

        </ul>

  </nav><!-- .navbar -->

