
<nav class="navMenu">
 

  <div class='divImgLogo'>
    <div><%=tabla%></div>
  </div>

  <form class='formularioFiltro'>
    <input type="search" name="filtro" placeholder="Ingresa Registro" required>
    <button title="Buscar"><img src="/icon/submit.png"></button>
  </form>

  <div class='divMenuMobile'>
   <img src="/icon/menu.png" class='imgMenuMobile' title="Menu"> 
  </div>


</nav><!-- .navbar -->