<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Afiliación</title>
	<link rel="stylesheet" type="text/css" href="/css/client/afiliacion.css">
	<link rel="stylesheet" type="text/css" href="/css/client/responsiveStreaming.css">
	<link rel="stylesheet" type="text/css" href="/css/client/responsiveAfiliacion.css">
</head>
<body>
	<%-include('navBar')-%>
	<div class="transfondo">
	<div class="main">

		<div class="imagen">

		</div>

		<div class='texto'>
			<h2>Afiliar a tu primer cliente</h2>
			<p>
				Debes ver este apartado una vez realices tu primera venta para que aprendas como puedes afiliar a tus clientes y le des ingreso a la plataforma.
			</p>
			<p>
				Es sencillo, una vez el cliente te cancelé los 2$ o 3$ depende del país donde te encuentres, lo primero que harás es enviarle el registro, que es el siguiente, copia la plantilla completa para que la envíes.
			</p>

			<h2>PLANTILLA DE REGISTRO</h2>
			<p>🎊 Gracias por unirte a nuestra comunidad 🥇🏆 GLOBALDORADO 💥<br><br>

				Te enviaré todo paso a paso para que aprendas y empieces a ganar dinero con nosotros ✅🚀<br><br>

				Paso 1️⃣ Ver el video de como registrarse en la plataforma de forma correcta. <br><br>

				https://youtube.com/shorts/tV9AWh2-KSM?feature=share<br><br>

				Paso 2️⃣ Ingresar a la página de registro del sistema. <br><br>

				www.theglobaldorado.com
			</p>
			<p>CUANDO YA TE HAYAS REGISTRADO, ENVIAME EL CAPTURE DE PANTALLA CON EL QUE TE REGISTRASTE EN LA PLATAFORMA PARA ENVIARLO A SOPORTE Y VALIDAR TU INGRESO AL SISTEMA</p>

			<p class='colorr'>Una vez el cliente se registre, te enviará el correo con el que se registró en el sistema, una vez te lo envíe, contactas directamente a soporte para que te valide el correo de tu nuevo socio, acá te dejaré el número de soporte y sus medios de pago.</p>

			<p class='colorr'>IMPORTANTE, DEBES UNIRTE AL GRUPO DE VALIDACIONES ÚNICAMENTE CUANDO HAGAS TU PRIMERA VENTA, YA QUE ES UN GRUPO DE VALIDACIONES, A LOS DEMÁS GRUPOS SI PUEDES UNIRTE.</p>

			<button>Validaciones Telegram</button>

			<p class='colorr'>Envíale el correo a afiliar + el comprobante de pago, te enviará el método de pago para que realices el pago de 0.50$ depende de la venta que hayas realizado.</p>
			<p class='colorr'>RECUERDA QUE LA VALIDACIÓN DE CORREOS TIENE UN PROMEDIO DE DURACIÓN DE 2 A 24 HORAS PARA APROBAR, YA QUE SOMOS MUCHOS SOCIOS VALIDANDO CORREOS, TE RECOMENDAMOS TENER PACIENCIA PORQUE SE ATIENDE POR ORDEN DE LLEGADA...</p>
			<div class='comprobante'>

				<div>
					<picture><img src="/img/flyers/ejemplo.jpeg"></picture>
					<p>SOLO ENVÍAS LA FOTO DEL PAGO A SOPORTE  + EL CORREO DE TU CLIENTE.</p>
				</div>

				<div>
					<picture><img src="/img/flyers/ejemplo.jpeg"></picture>
					<p>UNA VEZ TE APRUEBE EL CORREO TE DARÁS CUENTA POR QUÉ REACCIONARÁ CON UNA MANITO ARRIBA ALLÍ YA TU CLIENTE TIENE EL CORREO APROBADO.</p>
				</div>

			</div>
		</div>

		<div class='pieImg'>
			<div class='pagos'>
				<div class='img-1 img-'>
					
				</div>
				<div class='img-2 img-'>
					
				</div>
				<div class='img-3 img-'>
					
				</div>
				<div class='img-4 img-'>
					
				</div>
			</div>
		</div>

	</div>
	</div>
</body>
</html>