<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%=tabla%>
  </title>
  <link rel="stylesheet" type="text/css" href="/css/client/capacitacion.css">
  <link rel="stylesheet" type="text/css" href="/css/client/responsiveCapacitacion.css">
  <link rel="stylesheet" type="text/css" href="/css/julian2.css">
</head>

<body>
  <%-include('navBar')-%>

    <div class='container'>

      <div class='mensaje'>
        <h2>Bienvenido al Apartado de capacitación</h2>
        <h2>3 Formas de publicar en facebook</h2>
        <p>En este apartado aprenderás 3 formas de publicar en Facebook, una mediante Reels, MarketPlace y Grupos de
          Facebook, es importante que veas todos los videos y utilices cualquiera de estos 3 métodos, todos funcionan,
          pero dependerá de la constancia que le coloques.
          OJO PRIMERO DEBES APRENDER A PUBLICAR PARA QUE DESPUÉS APRENDAS COMO ATENDER A LOS CLIENTES UNA VEZ TE LLEGUEN
          A TU WHATSAPP.</p>
      </div>



      <div class='secciones'>
        <picture>
          <img src="/img/flyers/facebook.jpeg">
        </picture>
        <h2 title='Click para ir'><a href="#">Como publicar en grupos de facebook</a></h2>
        <p>En este apartado vas a conocer como puedes publicar en grupos de Facebook, tales como compra, ventas,
          cambalache, empleo, esto con la finalidad de tener buen alcance y clientes potenciales que adquieran el
          servicio.</p>
          <a class='botonCapacitacion' href="#">Ir</a>
      </div>

      <div class='secciones'>
        <picture>
          <img src="/img/flyers/reels.jpeg">
        </picture>
        <h2 title='Click para ir'><a href="#">Como publicar en Reels</a></h2>
        <p>Aprende como darle un buen uso a tus Reels de Facebook y ten mayor alcance de clientes.</p>
        <a class='botonCapacitacion' href="#">Ir</a>
      </div>

      <div class='secciones'>
        <picture>
          <img src="/img/flyers/markeplace.jpeg">
        </picture>
        <h2 title='Click para ir'><a href="#">Como publicar en MarketPlace</a></h2>
        <p>Utiliza esta herramienta para tener mayores clientes, tener en cuenta que debes tener más de 1 Facebook, ya
          que pueden bloquearte MarketPlace. SIEMPRE DEBES TRABAJAR CON MÁS DE 1 FACEBOOK Y TENER 1 DE RESPALDO.</p>
           <a class='botonCapacitacion' href="#">Ir</a>
      </div>

      <div class='secciones'>
        <picture>
          <img src="/img/flyers/whatsapp.jpeg">
        </picture>
        <h2 title='Click para ir'><a href="#">Como atender clientes</a></h2>
        <p>Una vez finalices los videos de Facebook debes aprender como atenderás a los clientes que te llegaran a tu
          WhatsApp.
        </p>
         <a class='botonCapacitacion' href="#">Ir</a>
      </div>

      <div class='secciones'>
        <picture>
          <img src="/img/flyers/estados.jpeg">
        </picture>
        <h2 title='Click para ir'><a href="#">Importancia de subir Estados</a></h2>
        <p>Si quieres vender más debes ver este video para que veas la importancia de los estados de WhatsApp y como
          influirán en tus ventas.
        </p>
         <a class='botonCapacitacion' href="#">Ir</a>
      </div>

      <div class='secciones'>
        <picture>
          <img src="/img/flyers/marca.jpeg">
        </picture>
        <h2 title='Click para ir'><a href="#">Aprende como descargar videos sin marca de agua</a></h2>
        <p>Aprende como descargar los videos para tus Reels sin marca de agua.
        </p>
         <a class='botonCapacitacion' href="#">Ir</a>
      </div>

      <div class='secciones'>
        <picture>
          <img src="/img/flyers/afiliar.jpeg">
        </picture>
        <h2 title='Click para ir'><a href="#">Afiliar a tu primer cliente</a></h2>
        <p>Debes ver este apartado una vez realices tu primera venta para que aprendas como puedes afiliar a tus
          clientes y le des ingreso a la plataforma.
        </p>
         <a class='botonCapacitacion' href="#">Ir</a>
      </div>

      <div class='secciones'>
        <picture>
          <img src="/img/flyers/grupos.jpeg">
        </picture>
        <h2 title='Click para ir'><a href="#">Grupos de apoyo</a></h2>
        <p>Únete a nuestros grupos de apoyo en Telegram, allí compartimos información de valor para que aprendas un poco
          más y también recibas información de cualquier eventualidad que suceda.</p>
           <a class='botonCapacitacion' href="#">Ir</a>
      </div>

      <div class='secciones'>
        <picture>
          <img src="/img/flyers/publicidad.jpeg">
        </picture>
        <h2 title='Click para ir'><a href="#">Flyer e Imagenes</a></h2>
        <p>Aquí encontrarás imágenes y videos de la plataforma para que utilices tus estados de WhatsApp y publicidad
          para Facebook también.</p>
           <a class='botonCapacitacion' href="#">Ir</a>
      </div>

    </div>

    <div class="footerCapacitacion">

      <div class="div1">

        <h3>Global <span style="color:rgb(255, 183, 67)">Dorado</span></h3>
        <p>
          A108 San Juan Street <br>
          NY 535022, Guárico<br><br>
          <strong>Telefono:</strong> +58 000 000 000<br>
          <strong>Correo:</strong> globalDorado@gmail.com<br>
        </p>
        <div class="social-links mt-3">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>

      <div class='div2'>
        <img src="/img/televisor2.png" class='pieCapacitacion'>
      </div>
    </div>

    <div class="pie">
      <p>© Copyright <span style='color:rgb(255, 183, 67)'>GlobalDorado.</span> Todos los Derechos Reservados.</p>
    </div>




</body>

</html>