<nav id="navbarr" class="navbarr"><!--Computadora-->
   
		<div class="divLogoo">
			<img src="/template/icon/logoGlobal-Photoroom.png" class='logoo' alt="">
			
		</div>

		<ul class='ulMenu'>
		    <li><a class="nav-link" href="/main">Inicio</a></li>
			<li><a class="nav-link" href="/cursosClient">Cursos</a></li>
			<li><a class="nav-link" href="/librosClient">Libros</a></li>
			<li><a class="nav-link" href="/streaming">Streaming</a></li>
			<li><a class="nav-link" href="/capacitacion">Capacitación</a></li>
			<li class="dropdown"><a href="/peliculasClient"><span>Entretenimiento</span></a>
			</li>
			<li><a class="nav-link" href="/logout">Cerrar</a></li>
		</ul>

	</nav>

	<nav id="navbarrr"><!-- telefono-->

		<div id='TituloI'>
			<picture><img src="/template/icon/logoGlobal-Photoroom.png" alt=""></picture>
			<div><h1 class='h1-logoo'><%=tabla%></h1></div>
		</div>

        <ul class='menu'>
        <li>
        <picture class='menuuu'><img width='40vw' src="/icon/menu.png"/></picture>

        <ul class="subMenu">
        <li><a class="nav-link" href="/main">Inicio</a></li>
        <li><a class="nav-link" href="/cursosClient">Cursos</a></li>
        <li><a class="nav-link" href="/librosClient">Libros</a></li>
        <li><a class="nav-link" href="/streaming">Streaming</a></li>
        <li><a class="nav-link" href="/capacitacion">Capacitación</a></li>
        <li class="dropdown"><a href="/peliculasClient"><span>Entretenimiento</span></a>
			</li>
			<li><a class="nav-link" href="/logout">Cerrar</a></li>
        </ul>

        </li>

        </ul>

	</nav><!-- .navbar -->

