 <footer id="footer">

    <div class="footer-top"><!--footer principal-->
      <div class="container" id="Fcontainer" >
        <div class="row" id='row2'>

          <div class="div1 col-lg-3 col-md-6">
            <div class="footer-info">
              
              <h3>Global <span style="color:rgb(255, 183, 67)">Dorado</span></h3>
              <p >
                A108 San Juan Street <br>
                NY 535022, Guárico<br><br>
                <strong>Telefono:</strong> +58 000 000 000<br>
                <strong>Correo:</strong> globalDorado@gmail.com<br>
              </p>

              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>

            </div>
          </div>

          <div class='imagenFooter div2'>
            <img src="/img/televisor2.png" class="imgFooter">
          </div>
            
        </div>
      </div>
    </div>

    <div class="container" id="FFcontainer">
      <div class="copyright">
        &copy; Copyright <strong style="color:rgb(255, 183, 67)">Globaldodaro</strong>. Todos los Derechos Reservados.
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
      
      </div>
    </div>
    
  </footer><!-- End Footer -->