<head>
    <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  <title>GlobalDorado</title>
    <link rel="stylesheet" type="text/css" href="/templateMain/assets/css/mediaScreen.css">
  <link href="/templateMain/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!--Vendor CSS Files-->
  <link href="/templateMain/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/templateMain/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/templateMain/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/templateMain/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/templateMain/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/templateMain/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/templateMain/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/template/icon/corona.png" />
  <!-- Template Main CSS File -->
  <link href="/templateMain/assets/css/style.css" rel="stylesheet">

</head>