
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>GlobalDorado</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/template/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/template/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/template/css/responsive.css" rel="stylesheet" />
   <link href="/template/css/main.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/carrusel.css">
  <link rel="icon" type="image/x-icon" href="/template/icon/corona.png" />
  <script type="text/javascript" src="/js/alertConfig.js"></script>
</head>




