<nav id="navbar" class="navbar order-last order-lg-0">
        <ul>

          <li><a class="nav-link scrollto" href="/cursosClient">Cursos</a></li>
          <li><a class="nav-link scrollto" href="/librosClient">Libros</a></li>
          <li><a class="nav-link scrollto " href="/streaming">Streaming</a></li>
          <li><a class="nav-link scrollto" href="/capacitacion">Capacitación</a></li>
          <li class="dropdown"><a href="/peliculasClient">Entretenimiento</a>
          </li>
          <li><a class="nav-link scrollto" href="/logout">Cerrar</a></li>
        </ul>
        <img width='30' src="/icon/menu.png" class="bi bi-list menuN mobile-nav-toggle"/>
      </nav><!-- .navbar -->