/*---CARRUSEL----*/
.h22{
  margin-bottom:3rem;
  color:white;
  margin-top:2rem ;
}
#h22{
  color:black;
}
#carrusel-p{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image:url('https://assets.nflxext.com/ffe/siteui/vlv3/4d7bb476-6d8b-4c49-a8c3-7739fddd135c/8277debd-f86e-4710-a56f-1d9d0979b2b2/VE-es-20240429-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  background-size: cover;
   background-position: center center;
   background-attachment: fixed;
  padding-bottom:3rem;

}

#carrusel-p::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Color negro translúcido */
}
#carrusel-pp{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image:url('/img/flyers/librosEhistorias.jpeg');
  background-size: cover;
   background-position: center center;
   background-attachment: fixed;
  padding-bottom:3rem;

}
#carrusel-pp::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Color negro translúcido */
}
.carrusel-list{
  display:flex;
  justify-content: center;
  align-items: center;
  width:fit-content;/*?????*/
  height:304px;
  padding:10px 0px;
  margin:0px auto;
  max-width: 90vw;
  overflow: hidden;
}
.carrusel-track{
  position:relative;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  transition: .5s ease-in-out;
}
.carrusel{
  position:relative;
  width:210px;
  padding:0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
.h4{
  position: absolute;
  z-index:1;
  font-size: 20px;
  line-height:20px;
  color:white;
  padding:10px;
} 
.h4 small{
  font-size:20px;
  display:block;
}
.carrusel a img{
  object-fit: cover;/*??????*/
  height:300px;
  width:200px;
  border-radius:10px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.5);
  transition:.3s ease-in-out;
}
@media(min-width:768px){
  .carrusel{
    width: 275px;
  }
  .carrusel a img{
    width: 250px;
  }
}

.carrusel-arrow{
  border-radius:30px;
  background:white;
  position: absolute;
  z-index:4;
  width:48px;
  height: 48px;
  text-align: center;
  border:0;
  cursor:pointer;
}

.carrusel-arrow:focus{
  outline:0;/*???????*/
}

.carrusel-arrow svg{
  width: 12px;
  height: 100%;
  color:rgba(0,0,0,.7);
}
.carrusel-prev{
  left:0;
}
.carrusel-next{
  right:0;
}
