*{margin:0;padding:0;box-sizing:border-box}
body {
  overflow-x:hidden;
  width:100%;
  background-image:url('/img/fondo.jpg');
  background-position: center;
  background-size:cover;
  background-attachment:fixed;
}
@font-face{
  font-family:'fuenteExterna';
  src:url('/font/Mastolleh-Regular.ttf');
}
@font-face{
  font-family:'fuenteExterna2';
  src:url('/font/The Bloody Butcher.ttf');
}

/*NAV------------NAV---------------NAV*/
nav{
     background:rgba(0,0,0,.1);
     backdrop-filter: blur(2px); 
     width:100%;
     border-bottom:1px solid goldenrod;
}
#title{
  font:2.1rem 'fuenteExterna';
}
.div-Nav{
display:flex;
justify-content: start;
align-items: center;
width:100%;
height: 100%;
padding:1rem;
}
.div-Nav a{
	text-decoration: none;
	font:2rem 'fuenteExterna2';
  margin-left:2rem;
	color:goldenrod;
  text-shadow:10px 10px 49px gold;
  transition:text-shadow 1s;
}
.div-Nav a:hover{
text-shadow:15px 15px 5px gold;  
}
.div-nav-anidado{
  margin-left:30rem;
  padding: .5rem;

}
.div-nav-anidado button{
 height:1.8rem;
 width:5rem;
 cursor:pointer;
 transition:transform 1s,background 1s;
 border-radius:10px;
 color:black;
}

/*---------------------------------------------------------------------*/

.div-nav-anidado button:nth-child(2){
 margin-left: 1.5rem;
}
.div-nav-anidado button:hover{
 color:gold;
 transform:translateY(-3px);
 background:rgba(0,0,0,.1);
 backdrop-filter: blur(2px); 
 border:1px solid white;
 box-shadow:6px 6px 100px gold;
}
#submit{
  transition:background 1s;
}
#submit:hover{
 color:gold;
 background:rgba(0,0,0,.1);
 backdrop-filter: blur(2px); 
 border:1px solid white;
 box-shadow:6px 6px 100px gold;
}

/*----------HEADER------------HEADER----------------*/
header{
	display:flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
	height:100vh;
	background-image:url('/img/hero-bg.jpg');
	background-size: cover;
  background-attachment: fixed;
	position: relative;
  border-bottom: 1px solid goldenrod;
}

header:before{
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.form-1{
 width:90%;
 margin-top:20rem;
 padding: 1rem;
 position: absolute;
 z-index:6;
}
.form-1 input{
 height:7vh;
 width:60%;
 border-radius:20px;
 text-align: center;
}
.form-1 button{
 height:7vh;
 width:15%;
 cursor:pointer;
 border-radius:10px;
}
header div{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	color:white;
	margin-top:10rem;
	font-size:2rem;
	position:absolute;
	z-index:5;
}
header div p{
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	
}
/*----------DESPLAZAMIENTO HORIZONTAL-----------*/
@keyframes desplazar {
  0% { 
    background-position: 0% 0; 
  }
  100% { 
    background-position: 100% 0; 
  }
}
/*MAIN------------MAIN-----------MAIN*/
main{
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height:80vh;
	position: relative;
	border-top:1px solid white;
  border-bottom: 1px solid goldenrod;
  background:rgba(0,0,0,.1);
  backdrop-filter: blur(3px); 
}

/*--------------------------------------------------*/
main img{
	width: 30%;
  cursor:pointer;
}
.icon{
	display:flex;
	justify-content: start;
	align-items: center;
	color:white;
}
.icon div{
	display:flex;
  flex-direction: column;
	justify-content: start;
	align-items: center;
	
}
.icon div p{
  font-size:2rem;
  margin-top: 1rem;
  color:white;
}
.icon div:nth-child(1){
margin-left:1rem;
}
.icon div:nth-child(2){
margin-left:4rem;
}
.icon div:nth-child(3){
margin-left:4rem;
}
.icon div:nth-child(4){
margin-left:2rem;
}

/*LINES-----LINES----LINES-----LINES*/
.lines{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100vw;
}
.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, gold 75%, gold 100%);
  -webkit-animation: run 7s 0s infinite;
          animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.lines .line:nth-child(1) {
  margin-left: -25%;
}
.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.lines .line:nth-child(3) {
  margin-left: 25%;
}
.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
/*----------PERSPECTIVA--------*/
.perspectiva-container{
  position: relative;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
}

/*----------SECTION------*/
.perspectiva{
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:url('https://p4.wallpaperbetter.com/wallpaper/336/163/715/honeycombs-abstract-minimalism-simple-background-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
  transform-origin: top;
  transform-style: preserve-3d;
  transition: transform 3s ease;
}
/*quitar perspectiva randy*/
.oculto {
  transform: perspective(1000px) scale(1.5);
  transition: transform 2s ease;
}
.perspectiva div:nth-child(1){
 margin-right:3rem;
}
.perspectiva div{
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.h2-section-1{
  color:goldenrod;
}
iframe{
  margin-top:2rem;
  
}



/*DIV PREGUNTAS FRECUENTES*/
.divPfrecuentes{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divSfrecuentes{
  display:flex;
  justify-content: center;
  height:auto;
  align-items: center;
  color:white;
}
.divPfrecuentes{
  height:auto;
  background:rgba(0,0,0,.5);
  border-top:1px solid goldenrod;
}

.h2{
  color:goldenrod;
  margin:4rem 1rem 2rem 1rem;
  font-size:2rem;
}
.h22{
  color:goldenrod;
  margin:2rem 1rem 2rem 1rem;
  font-size:2rem;
  
}
.h3{
  margin-bottom:1.3rem;
  font-size: 1.5rem;
  color:goldenrod;
}
.preguntasFrecuentesS{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height:80vh;
  margin:1rem;
  padding:.5rem;
  font-size:1.1rem;
  background:rgba(0,0,0,.1);
  backdrop-filter: blur(5px);
}
/*---CARRUSEL----*/
.carrusel-p{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background:rgba(0,0,0,.5);
  backdrop-filter: blur(5px);
  border-top:1px solid goldenrod;

}
.carrusel-list{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width:fit-content;/*?????*/
  height:304px;
  padding:10px 0px;
  margin:0px auto;
  max-width: 90vw;
  overflow: hidden;
}
.carrusel-track{
  position:relative;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  transition: .5s ease-in-out;
}
.carrusel{
  position:relative;
  width:210px;
  padding:0 18px;
  float: left;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}
.h4{
  position: absolute;
  z-index:1;
  font-size: 20px;
  line-height:20px;
  color:white;
  padding:10px;
} 
.h4 small{
  font-size:20px;
  display:block;
}
.carrusel a img{
  object-fit: cover;/*??????*/
  height:300px;
  width:200px;
  border-radius:10px;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.5);
  transition:.3s ease-in-out;
}
@media(min-width:768px){
  .carrusel{
    width: 275px;
  }
  .carrusel a img{
    width: 250px;
  }
}

.carrusel-arrow{
  border-radius:30px;
  background:white;
  position: absolute;
  z-index:4;
  width:48px;
  height: 48px;
  text-align: center;
  border:0;
  cursor:pointer;
}

.carrusel-arrow:focus{
  outline:0;/*???????*/
}

.carrusel-arrow svg{
  width: 12px;
  height: 100%;
  color:rgba(0,0,0,.7);
}
.carrusel-prev{
  left:0;
}
.carrusel-next{
  right:0;
}
/*footer*/
.footer {
  background:rgba(0,0,0,.5);
  backdrop-filter: blur(5px);
  color: #fff;
  padding: 20px;
  border-top:1px solid goldenrod;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 10px;
  transition:transform 1s;
}
.footer-links li:hover{
  transform:scale(1.1);
}

.footer-links li a {
  color:white;
  text-decoration: none;
  margin:1rem;
  font-weight:white;
}
.footer-links li a:hover{
  text-decoration:revert;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid goldenrod;
  padding-top: 10px;
}
.footer img{
  width:10%;
}

.footer-social-link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.footer-social{
  display:flex;
  justify-content: center;
  align-items: center;
  width:60%;
  height: auto;
}
.divFooterS{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.divFooterS a{
  transition:color 1s
}
.divFooterS a:nth-child(1):hover{
  color:rgb(43, 177, 64);
}

.footer-text {
  font-size: 14px;
  color:goldenrod;
}

/* Efecto de keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  animation: fadeIn 1s ease;
}







@media screen and (min-width:1200px) {



  
  
}