	* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}

		#FFcontainer .copyright{
			
			font-size:1rem !important;
		}
		body {
			background-image: url('https://p4.wallpaperbetter.com/wallpaper/336/163/715/honeycombs-abstract-minimalism-simple-background-wallpaper-preview.jpg');
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
			backdrop-filter: none !important;
			min-height: 100vh !important;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		.principall {
			position: relative;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;
			height: 100%;
			color: white;
		}

		.principall:before {
			content: "";
			position: absolute;
			backdrop-filter: blur(2px);
			bottom: 0;
			width: 100%;
			height: 100%;
			min-height: 100vw;
			top: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, .7);
		}

		.peliculaDiv {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 25vw;
			min-height: 340px;
			width: 18vw;
			min-width: 280px;
			margin: 1rem;
			cursor: pointer;
			border-radius: 10px;
			border: 5px solid transparent;
		}

		.descripcion-nombre {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .9);
			border: 1px solid transparent;
			z-index: 2;
			font-family: 'arial';
			border-radius: 10px;
			padding: .9rem;

		}

		.imgPortada {
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}

		.position-img {
			z-index: 2;
		}

		.position-descripcion-nombre {
			z-index: 3;
		}

		#navbarr {
			position: relative;
			display: flex;
			justify-content: space-around;
			align-items: center;
			background-image: url('https://p4.wallpaperbetter.com/wallpaper/336/163/715/honeycombs-abstract-minimalism-simple-background-wallpaper-preview.jpg');
			background-size: cover;
			background-attachment: fixed;
			padding: 1rem;
		}

		#navbarr:before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgb(0, 0, 0);
		}

		.h1-logoo {
			display: flex;
			justify-content: center;
			align-items: center;
			font-style: italic;
			font-size: 3vw;
			font-family: cursive;
			color: white;
		}

		.divLogoo {
			z-index: 2;
			background-image: url('/template/icon/logoGlobal-Photoroom.png');
			background-size: cover;
			background-position: center center;
			display: flex !important;
			justify-content: center;
			align-items: center !important;
			width:15%;
			height:16vh;
		}


		.ulMenu {
			z-index: 3;
			display: flex;
			justify-content: center;
			align-items: center;
			gap:5rem;
			width: 90%;
			margin: .8rem;
			padding: .5rem;
		}

		.ulMenu li {
			list-style: none;
			margin: .7rem;
		}

		.ulMenu li a, .ulMenu li a span  {
			color: white;
			text-decoration: none;
			font-size: 1.8vw !important;
			font-family: cursive;

		}

		.divForm {
			padding: 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: rgba(0, 0, 0, 1);
		}

		.formFind {
			display: flex;
			justify-content: center;
			align-items: center;

			padding: 1rem;
			width: 50%;
		}

		.formFind input {
			width: 60%;
			height: 2.2rem;
			border-radius: 10px;
			text-align: center;
		}

		.formFind button {
			width: 20%;
			height: 2.2rem;
			border-radius: 10px;
			text-align: center;
			margin-left: .5rem;
		}

		.botonera {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			width: 100%;

		}

		.botonera button {
			padding: .2rem .5rem;
			border-radius: 10px;
			margin: .2rem;
			background: rgb(247, 247, 247);
		}

		.estrellas {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 90%;
			height: 15%;
		}

		.estrellas picture {
			width: 10%;
			margin: .2rem;
		}

		h2 {
			margin-bottom: 1rem;
			font-family: cursive;
		}

		.categoriaa {
			display: flex;
			justify-content: start;
			align-items: start;
			width: 100%;
			color: rgb(255, 183, 67);
		}

		.a {
			width: 100%;
			color: black;
		}

		.fileUrl {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			height: 10vh;
			width: 100%;
			padding: 1rem;
		}

		.fileUrl div {
			background: rgb(255, 183, 67);
			width: 43%;
			padding: .2rem;
			margin: 1rem auto;
			border-radius: 7px;
			text-align: center;
		}

		.principall .peliculaDiv .descripcion-nombre .fileUrl div .a:hover {
			color: black;
		}

		.intro {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			color: white;
			background: rgba(0, 0, 0, .7);
			backdrop-filter: blur(2px);
		}

		.intro h1 {
			margin: 1rem auto;
		}

		.intro p {
			text-align: center;
			width: 70%;
			margin-bottom: 2rem;
		}
