.div-nav-anidado{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border:1px solid red;
  width:25%;
}
.div-nav-anidado button{
 height:1.8rem;
 width:5rem;
 cursor:pointer;
 transition:transform 1s,background 1s;
 border-radius:10px;
 color:black;
}

/*---------------------------------------------------------------------*/

.div-nav-anidado button:nth-child(2){
 margin-left: 1.5rem;
}
.div-nav-anidado button:hover{
 color:gold;
 transform:translateY(-3px);
 background:rgba(0,0,0,.1);
 backdrop-filter: blur(2px); 
 border:1px solid white;
 box-shadow:6px 6px 100px gold;
}

