@media (max-width: 767px){
#row2{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#row2 .imagenFooter{
	width:80%;
}
.menuN{
	
}
.logoo{
  width:35vw !important; 
  
  height:auto !important;

}
#header{
  display:flex;
  justify-content:space-evenly;
  gap: 8rem;
  align-items: center;
  width:90%;
  height:20vh;
  margin:.1rem auto;
  width:95%;
}
.cajaHorizontal .icon-box p,.cajaHorizontal .icon-box h4{
	font-size:.8rem !important;
	padding:1rem;
}
}
 