*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	position: relative;
	background-image:url('https://assets.nflxext.com/ffe/siteui/vlv3/c7f07b68-7989-4ff7-a31e-11c17dcc2fea/da7d87c2-4ac7-468b-93fd-d0a3140fc29c/VE-es-20240422-popsignuptwoweeks-perspective_alpha_website_small.jpg');
	background-position:center center;
	background-size: cover;
	background-attachment: fixed;
}
body:before{
	content: "";
	backdrop-filter:blur(5px);
	position: absolute;
	bottom: 0;
	width: 100%;
	height:100vh;
	top: 0;
	left: 0;
	right: 0;
}
.bodychild{
	position: relative;
	border: 1px solid red;
}


#navbar{
	position: fixed;
	z-index:2;
	display:flex;
	justify-content:space-around;
	align-items: center;
	background: rgba(0,0,0,.9);
	padding:1rem;
}
.principall{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	height: 100%;
	color: white;
    border: 5px solid blue;
}
.divFooter{
	position: absolute;
	top:150rem;
}
.logoo{
	width:17%;
}
.h1-logoo{
	display:flex;
	justify-content: center;
	align-items: center;
	font-style: italic;
	font-size:2rem;
	font-family: cursive;
}
.divLogoo{
	display:flex !important;
	justify-content:start;
	align-items: center !important;
	width: 30%;
	margin-left:4rem;


}
.ulMenu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin:.8rem;
	padding:.5rem;

}
.ulMenu li {
	list-style: none;
	margin:.7rem;
}

.ulMenu li a{
	color: white;
	text-decoration: none;
	font-size:1.3rem;
	font-family:cursive;
	font-style:italic;
}
#container{
	width: 60%;
	border: 1px solid red;

}

h1{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
/******************Efecto peliculas**********************************/
.descripcion-nombre{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0,.9);
	border:1px solid transparent;
	z-index:2;
	font-family:'arial';
	border-radius: 10px;

}
.imgPortada{
	position:absolute;
	z-index:3;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.position-img{
	z-index:2;
}
.position-descripcion-nombre{
	z-index:3;
}

/************************************************/
.descripcion-nombre h2{
	text-align: center;
	margin-top:2rem;
	font-size: 1.5rem;
	font-style: italic;
}
.descripcion-nombre p{
	text-align:left;
	margin-top:2rem;
	padding: 1rem;
}
.peliculaDiv{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height:60%;
	width:22%;
	margin:1rem;
	cursor:pointer;
	border-radius: 10px;
	border:5px solid transparent;
}





