@media (max-width:767px){
	.iframeHoja{
		width:90% !important;
		height:50vw !important;	
	}
	.hojaBtn h2{
		font-family: sans-serif;
		text-align: center;
	}
	.hojaBtn button{
		width:70% !important;
	}
	body:before{
		position: absolute;
		content:"";
		width:100%;
		height:170vh;
		top:0;
		left:0;
		backdrop-filter: blur(7px);
		background:rgba(0,0,0,.3);
	}
	.intro p{
		text-align:center;
		width:90% !important;
		margin-bottom:2rem;
	}
}
