#navbarrr{display:none;}
.imgFooter{width:100%;height:50%;}

@media (max-width: 767px) {
  /* Estilos para dispositivos m贸viles de baja resoluci贸n */
  *{
  	margin:0;
  	padding:0;
  	box-sizing: border-box;
  }
  #navbarr{
  	display:none;
  }
  .imgFooter{
  	display: flex;
    justify-content: center;
    align-items: center;
  	width:80%;
  	height:27vh;
  	margin:2rem auto;
  }
  #navbarrr{
  	position:relative;
  	z-index:100;
	display:flex;
	justify-content:space-between;
	align-items: center;
	background:rgba(0,0,0,.7);
	backdrop-filter: blur(10px);
	padding:1.5rem;
  }
  
  .copyright

  .menu{
    padding: 0px;
  }

  #navbarrr div picture img{
  width:100%;
  }
  #navbarrr div picture{
  display:flex;
  justify-content:center;
  width:70%;

  }
   #navbarrr div h1{
   	display: flex;
   	justify-content: start;
   font-style: normal;
   font-family: sans-serif;
   font-size: 1.5rem;
   margin-bottom:0;
   width:100%;
  }
   #navbarrr div div{
   	display: flex;
   	justify-content: start;
   width: 100%;
  }
   #navbarrr div{
   	display: flex;
   	justify-content:start;
    width: 50%;
  }

   #navbarrr ul li picture{
   display:flex;
   justify-content:center;
   width:15%;
  }
  #navbarrr .menu{
  position:relative;
  z-index:1;
  margin-left: auto;
  margin-right:1px;
  list-style:none;
  transform:translateY(10px);
  }
  #navbarrr #TituloI{
  	position: absolute;
  }
  #navbarrr .subMenu{
  	color: white;
  	display:none;
  	list-style: none;
  }
  #navbarrr .subMenu li a{
  		display: block;
       	color:white;
       	padding:15px 15px 15px 20px;
       	text-decoration:none;    	
  }
  #navbarrr .menu li:hover .subMenu{
    display: flex ;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position:absolute;
    width:100vw;
    margin-left: -83vw;
    background:rgba(0,0,0,1);
    backdrop-filter:blur(10px);
  }
 
  .footer-info{
  	display:flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	gap: 2rem;
  }
  .imagenFooter{
  	width:100%;
  }
  .principall{
  	display:flex;
  	flex-direction:column;
  	gap:1rem;
  	justify-content: center;
  	align-items: center;
  }
  .principall .peliculaDiv{
  	width:40vw;
    min-width: 228px;
  	height:50vw;
    min-height: 287px;
  }
  
  .intro p{
    width:90%;
  }
  .intro h1{
    text-align: center;
  }
}




@media screen and (min-width:410px) and (max-width:500px) {

  #navbarrr .menu li:hover .subMenu{
    display: flex ;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position:absolute;
    width:100vw;
    margin-left: -87vw !important;
    background:rgba(0,0,0,1);
    backdrop-filter:blur(10px);
  }
  
  
}


@media screen and (min-width:500px) and (max-width:642px) {

  #navbarrr .menu li:hover .subMenu{
    display: flex ;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position:absolute;
    width:100vw;
    margin-left: -88.5vw !important;
    background:rgba(0,0,0,1);
    backdrop-filter:blur(10px);
  }
  
  
}





@media screen and (min-width:642px) and (max-width:767px) {

  #navbarrr .menu li:hover .subMenu{
    display: flex ;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position:absolute;
    width:100vw;
    margin-left: -91vw !important;
    background:rgba(0,0,0,1);
    backdrop-filter:blur(10px);
  }
  
  
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para dispositivos m贸viles de resoluci贸n mediana */
}

@media (min-width: 1200px) {


  .row .div1 .footer-info{
    
    width: 30vw !important;
    
  }

}